<button [class]="class" [id]="id" [type]="type"
    [class.disabled]="disabled || loading || ((spinnerStatus$ | async) && buttonId == id)"
    [disabled]="disabled || loading || ((spinnerStatus$ | async) && buttonId == id)"
    (click)="!disabled && !loading && onClick(id)">
    <div
        [ngClass]="{ 'position-relative spinning' : (spinner && (spinnerStatus$ | async) && buttonId && buttonId == id) || loading }">
        <ng-content></ng-content>
        <i *ngIf="iconClass" class="{{ iconClass }}"></i>
    </div>
</button>